*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.app {
  margin: 50px;
  padding: 20px 0;
}

.main_heading {
  font-family: "Merriweather", serif;;
  font-size: 32px;
  font-weight: 900;
  text-align: left;
  color: #151B32;
}


@media (max-width: 978px) { 
  .app{
    margin: 10px;
  }
}